    *{
margin : 0 ;
padding : 0;
box-sizing: border-box ;
}
html,body{
  height: 100%;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
}


main{
    height: 600px;
    width: 700px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 30px;
}


main #stopwatch{
    font-size: 6rem;
    /* margin-bottom: 60px; */
}

.time h1 {
    font-size:8rem ;
}

.buttons{
display: flex;
justify-content: center;
align-items: center;
gap: 3rem;
/* margin-top: 100px; */

}

 #stop{
    height: 2.5rem;
    width:  2.5rem;
    border-radius: 50px;
    border: none;
    background-color: orange;
    color: white;
    font-size: 1.2rem;
 }

 #start{
    height: 4rem;
    width:  4rem;
    border-radius: 50px;
    border: none;
    background-color: orange;
    color: white;
    font-size: 2.5rem;
 }

 #restart{
    height: 2.5rem;
    width:  2.5rem;
    border-radius: 50px;
    border: none;
    background-color: orange;
    color: white;
    font-size: 1.2rem;
 }