 @font-face {
    font-family: kl;
    src: url(./LobsterTwo-BoldItalic.ttf);
 }  
   *{
margin : 0 ;
padding : 0;
box-sizing: border-box ;
}
html,body{
  height: 100%;
 width: 100%;
}

#qw{

    height: 100%;
    width: 100%;
    /* background-image: url(https://images.pexels.com/photos/5380593/pexels-photo-5380593.jpeg);
    background-position: center;
    background-size: cover; */
}
#navbar{
    height: 10%;
    width: 100%;
    background-color:transparent;
   
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
/* #nav{
    height: 4%;
    width: 45%;
   font-size: 30px; 
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 3%;
} */



#box1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    text-align: center;
    color: black;

    

    
}
h6{ 
    margin: 10px;
    font-size: medium; 
}
h1{
    font-size: 50px;
    font-weight: 550;
}
p{margin: 10px;
    font-size: 23px;

}

button{
    margin-top: 40px;
    border: none;
    background-color: chartreuse;
    font-size: 25px;
    border-radius: 50px;
    padding: 15px 30px;
    transition: background-color 0.4s;
    
}
button:hover{
    /* color: antiquewhite; */
    background-color: bisque;
}
#box2{
    font-size: medium;
    
}

#w{
    position: absolute;
    top: 80%;
    left: 80%;
    transform: rotate(20deg);
}
#e{
    position: absolute;
  top: 80%;
    left: 60%;
    transform: rotate(-30deg);
}
#r{
    position: absolute;
      top: 80%;
    left: 30%;
    transform: rotate(12deg);
}
#t{
    position: absolute;
      top: 80%;
    left: 10%;
    transform: rotate(-15deg);
}

/* #box2{
    
    height: 200px;
    width: 200px;
    background-color: rgb(16, 173, 173);
    z axies se dekh the hai 
     position:absolute;
     z-index: ;
    transform: translate(-50%,-50%);
    top: bottom 
    left right; 
    top 0%
    right0% try kr
    box ki place change  kr shakte hai
/* for center 
    printrest tunall
     */
     