    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html,
    body {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        padding: 10px;
        height: 650px;
        width: 650px;
        background-color: bisque;
        display: grid;
        gap: 10px;
        grid-template-columns: 0.5fr 1fr 1fr 0.5fr 0.7fr 0.5fr 0.5fr 0.2fr 0.4fr 0.7fr;
        grid-template-rows: 0.5fr 1fr 1fr 0.5fr 1fr 1fr 0.5fr 1fr 0.3fr 0.4fr 0.4fr;


    }

    /* div{
    border: 3px solid black;

} */

    #box1 {
        background-color: blue;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 5;
    }

    #box2 {
        background-color: khaki;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 4;
    }


    #box3 {
        background-color: lavender;
        grid-column-start: 5;
        grid-column-end: 8;
        grid-row-start: 2;
        grid-row-end: 3;
    }


    #box4 {
        background-color: hotpink;
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 3;
        grid-row-end: 3;
    }

    #box5 {
        background-color: honeydew;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 7;
    }


    #box6 {
        background-color: pink;
        grid-column-start: 3;
        grid-column-end: 7;
        grid-row-start: 4;
        grid-row-end: 8;
    }


    #box7 {
        background-color: royalblue;
        grid-column-start: 7;
        grid-column-end: 11;
        grid-row-start: 4;
        grid-row-end: 6;
    }


    #box8 {
        background-color: rosybrown;
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row-start: 6;
        grid-row-end: 8;
    }


    #box9 {
        background-color: seagreen;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 12;
    }


    #box10 {
        background-color: sandybrown;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 8;
        grid-row-end: 9;
    }

    #box11 {
        background-color: coral;
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 8;
        grid-row-end: 10;
    }


    #box12 {
        background-color: crimson;
        grid-column-start: 6;
        grid-column-end: 11;
        grid-row-start: 8;
        grid-row-end: 9;
    }