   
   /* @font-face {
    font-family: ;
    src: url();
   } */
   *{
margin : 0 ;
padding : 0;
box-sizing: border-box ;

}
html,body{
  height: 100%;
 width: 100%;
}
 #pk{
   background-image: url(https://images.pexels.com/photos/34513654/pexels-photo-34513654.jpeg);
   height: 100%;
   width: 100%;
   background-position: center;
   background-size: cover;

}
/* #qw{
   font-size: 30px;
   background-size: 20px; */
/* } */

#sd{ 
   margin-top: 10px;
   margin-left: 1200px;
   font-size: 25px;
   border-radius: none  ;
   background-color: transparent;


}
#sc{
   margin-top: 10px;
   font-size: 25px;
   border-radius: none  ;
   background-color: transparent;
}
#se{
   margin-top: 10px;
   font-size: 25px;
   border-radius: none  ;
   background-color: transparent;
}
input{

   margin-left: 450px;
   font-size: 50px;
   border-radius: 50px  ;
   text-align: center;
   /* background-color: transparent; */
}
h1{
   /* margin-left: 450px; */
   margin-top: 150px;
   font-size: 75PX;
   text-align: center;
}

p{
   text-align: center;
   margin-top: 30px;
   font-size: 30px;
   font-weight: 500;
   color: blanchedalmond;
   font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1:hover{ font-family: Verdana, Geneva, Tahoma, sans-serif;


}
 #sd:hover{
   background-color: aqua;
 }
#se:hover{
   background-color: aqua;
 }
 #sc:hover{
   background-color: aqua;
 }

 /* input:hover{

   background-color: blanchedalmond;
   margin: 100px 100px;

 } */
