    *{
margin : 0 ;
padding : 0;
box-sizing: border-box ;
font-family: Fjalla One, sans-serif;
}
html,body{
  height: 100%;
 width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color:rgb(247, 247, 255) ;
    
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 2vw;
    /* background-color: aqua; */

}
.navpt-1{
    display: flex;
    align-items: center;
    gap: 2vw;
}
.navpt-1 i{ 
    font-size: 2.5vw;
}
.navpt-1 h1{
    font-size: 2vw;
}
.navpt-2{
    display: flex;
    gap: 2.5vw;
}

.navpt-2 a{
    text-decoration: none;
    font-weight: 800;
    color: black;
}

.navpt-3{
    display: flex;
    gap: 1.5vw;
    align-items: center;
    font-size: 2vw;
}
.navpt-3 button{
    padding: 0.8vw 2vw;
    font-weight: 600;
    border-radius: 1vw;
    border: none;
    color: white;
    background-color: rgb(74, 109, 198);
}
.section1{
    width: 100%;
    height: 90vh;
    /* background-color: red; */
    padding: 2vw;
}
.hero-container{
    width: 100%;
    height: 100%;
    border-radius: 1vw;
    background: linear-gradient(rgb(9, 37, 100),rgb(45, 76, 147));
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    
}

.left h1{
    /* padding-top: 3vw; */
    margin-left: 2vw;
    font-size: 4vw;
    color: white;
    
    white-space: nowrap;
}
.left p{
    margin-top: 2vw;
     margin-left: 2vw;
    font-size: 1.5vw;
    color: white;
}
.left button{
    margin: 3vw 1.5vw;
     padding: 0.8vw 2vw;
    font-weight: 600;
    border-radius: 1vw;
    border: none;
    color: white;
    /* display: flex;/ */
    /* gap: 2vw; */
    /* background-color: rgb(64, 107, 208); */
}
#q1{
    background-color: rgb(64, 107, 208);
}

#q2{
     background: linear-gradient(rgb(9, 37, 100),rgb(45, 76, 147))
     
}

#right {
     height:79.5vh ;
     width:30vw ;
     object-fit: cover;
     margin-right: 3vw;
      /* padding-right: 15vw; */
     /* background-color: aqua; */
   
}
#right img{
     height: 100%;
     /* padding-right: 15vw; */

}

#section2{
    width: 100%;
    background-color:rgb(247, 247, 255) ;

   
}

#section2 #feature{
    padding-top: 3vw;
    margin-top: 8vw;
    margin-bottom: 4vw;
    width: 100%;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:3vh;
    /* background-color: blue; */
    /* padding: 2vw; */
}

#card-contaner{
    height: 40vmax;
    display: flex;
    gap: 3vw;
    padding: 5vw;
    /* background-color: aqua; */
    
}

#card-contaner #card{
    height: 65vh;
    width: 20vw;
    background-color: rgb(229, 230, 242);
    border-radius: 2vw;
    overflow: hidden;
    /* padding: 0 2vw; */
}

#card img{
     height: 25vw;
     width: 20vw;
  
}
#card h4{
    font-weight: 300;
    color:  rgb(159, 160, 175) ;
    margin-bottom: 0.7vw;
    font-size: 1vw;
}
#card h1{
    font-weight: 700;
    margin-bottom: 0.5vw;
    font-size: 1.1vw;

}
#card #p{
      font-weight: 700;
      font-size: 1vw;
      color: rgb(64, 107, 208);
      border: none;
      margin-left: 2vw;

}

#card h4,h1,p{
    padding-left: 2vw;
}


#section2 #er{
    margin: 4vw 43vw;
    padding: 1vw 3vw;
    font-weight: 600;
    border-radius: 1vw;
    border: none;
    background-color: rgb(64, 107, 208);
    color: white;
    font-size: 1.2vw;
    white-space: nowrap;


}

#section3 {
    height: 100%;
    width: 100%;
    background-color:rgb(247, 247, 255) ;
    /* background-color: aquamarine; */
    /* padding: 3vw 8vw; */

}

#section3 #shop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vw 0.2vw;
    
}

#shop h1{
    font-size: 2.5vw;
    font-weight: 800;
}
#shop #bt12{
     margin-right: 3vw;
     display: flex;
     gap: 1vw;
     
     
}

#shop #b45{
    border-radius: 50%;
    border:0.1vw solid black;
    padding: 1vw ;
    font-size: 1.5vw;
    background-color:rgb(247, 247, 255) ;

}


#shopcard{
    display: flex;
    gap: 4vw;
    margin: 3vw 9vw;
}

#shopcard  #cardshop{

    height: 31vw;
    width: 25vw;
    background-color: rgb(238, 239, 250);
    border-radius: 2vw;
    padding: 4.5vw 0.8vw;
    position: relative;
    object-fit: cover;
    overflow: hidden;
}

#shopcard #cardshop  h1{
    font-weight: 700;
    margin-bottom: 0.5vw;
    font-size: 1.6vw;

}
#shopcard #cardshop  p{
     font-weight: 300;
    color:  rgb(159, 160, 175) ;
    margin-bottom: 0.7vw;
    font-size:1.6vw ;
}
#shopcard #cardshop button{
    color: rgb(64, 107, 208);
    padding: 1vw 2vw;
    font-size: 1vw;
    font-weight: 700;
    margin-left: 3vw;
    /* background-color: aquamarine; */
    border: none;
}

#shopcard #cardshop img{
    height: 14vw;
    width: 12vw;
    margin-left: 11.8vw;
    /* margin-top: 0.vw; */
    padding-bottom: 1vw;


}
#shopcard #cardshop #imgg1{
    height:15vw ;
    width: 14vw;
}


#section4{
     height: 85%;
     width: 100%;
     background-color:rgb(238, 239, 250) ;
     border-radius: 2vw;
     /* background-color: aquamarine; */
     padding: 5vw 0;
}


#section4 #top{
    font-size: 1.5vw;
    font-weight: 900;
    white-space: nowrap;
    /* align-items: center; */
    text-align: center;

}

#section4 #bottom{
    text-align: center;
    display: flex;
    /* align-items: center; */
    padding: 3vw 0;
    justify-content: center;
    gap: 5vw;
}

#section4 #bottom #freedelivery{
    height: 20vw;
    width: 23vw;
    /* background-color: rgb(238, 239, 250); */
    text-align: center;

}

#section4 #bottom #SelfPickup{
    height: 20vw;
    width: 23vw;
    text-align: center;

}
#section4 #bottom #Warranty{
    height: 20vw;
    width: 23vw;
    text-align: center;

}

  #section4 #bottom  h3{
    font-size: 4vw;
    font-weight: 100;
    margin: 1vw 0;
    text-align: center;
    
}

#section4 #bottom h1{
    font-size: 2vw;
    font-weight: 100;
    margin: 1vw 0;
    text-align: center;

} 

#section4 #bottom p{
    font-size: 1.13vw;
    margin: 1vw 0;
    text-align: center;
    color: rgb(137, 139, 158);

} 
#section4 button{
    background-color: rgb(64, 107, 208);
    margin-left: 47.4vw;
    padding: 1vw 2vw;
    font-size: 1vw;
    font-weight: 700;
    border: none;
    border-radius: 1vw;
    
}

#section4 button a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    
}

#section5 {
     height: 85%;
     width: 100%;
     background-color:rgb(247, 248, 255) ;
     border-radius: 2vw;
     /* background-color: aquamarine; */
     padding: 5vw 0;
}
#section5 #topp{
    font-size: 1.5vw;
    font-weight: 900;
    text-align: center;
    
}

#section5 #bottomm{
    display: flex;
    justify-content: center;
    padding: 3vw;
    gap: 4vw;
    /* background-color: aqua; */
}
#section5 #bottomm #left{
  /* background-color: beige; */
  height: 28vw;
}

#section5 #bottomm #left #topleft{
    /* background-color: cadetblue; */
    height: 12vw;
    width: 25vw;
    text-align: left;
    white-space: nowrap;

}

#section5 #bottomm #left #bottomleft{
    /* background-color: rgb(64, 107, 208); */
    height: 12vw;
    width: 25vw;
    text-align: left;
    white-space: nowrap;
    margin-top: 2vw;

}


#section5 #right{
  /* background-color: beige; */
    height: 28vw;
}

#section5 #bottomm #right #topright{
    /* background-color: cadetblue; */
    height: 12vw;
    width: 25vw;
    text-align: left;
    white-space: nowrap;
}

#section5 #bottomm #right #bottomright{
    /* background-color: rgb(64, 107, 208); */
    height: 12vw;
    width: 25vw;
    text-align: left;
    white-space: nowrap;
    margin-top: 2vw;

  
}
#section5 #bottomm h1{
    font-size: 2vw;
    font-weight: 500;
    margin: 1vw 0;
    text-align: left;

}

#section5 #bottomm p{
    font-size: 1.13vw;
    margin: 1vw 0;
    color: rgb(137, 139, 158);

}

#section5 #bottomm #middel{
    height: 20vw;
    width: 25vw;
    margin: 5vw 0;
    /* background-color: palevioletred; */
    /* object-fit: cover; */
}

#section5 #bottomm #middel img{
    height: 20vw;
    width: 25vw;
}

#section5 #btns{
    margin-left: 45vw;
    width: 20vw;

}

#section5 button{
    background-color: rgb(64, 107, 208);
  
    padding: 1vw 2vw;
    font-size: 1vw;
    font-weight: 700;
    border: none;
    border-radius: 1vw;
    /* white-space: nowrap; */
    /* display: flex; */


}

#section5 #btns a{
    color: white;
    text-decoration: none;
    font-weight: 500 !;
    

}













@media (max-width:600px) {

    .navpt-1 i{
       font-size: 5vw;
    }
    .navpt-1 h1{
        font-size: 5vw;
    }
    nav .navpt-2{
        display: none;
    }
   
     .navpt-3 i{
       font-size: 4vw;
    }
    .navpt-3 button{
        padding: 2vw;
        margin-right: 4vw;
    }
    .sectiom1{
        width: 100%;
        height: 100vh;
    }

    .section1  .hero-container {
       
       flex-direction: column-reverse;

     }

    .section1  .hero-container #right{
        height: 55vh;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: aqua; */
        
    } 
     /* .left{
        background-color: rgb(14, 67, 49);
     } */
      .left h1,p,button{
        position: relative;
     } 

      .left h1 {
       font-size: 6.9vw;
       margin-top: 2vw;
       white-space: wrap;
      
      }
     .left p {
     font-size: 3.9vw;
     white-space: wrap;
   
     }
     .left button{
        padding: 2vw 5vw;
        /* margin-left: 10vw; */
     }

     #section2{
       
     }
     #feature{
        white-space: nowrap;
        padding-top: 2vw;
     }

       
     #card-contaner{
        flex-direction: column;
        justify-content: space-around;
     }
     #card{
        height: 40vw;
        width: 20vw;

     }
     #card img{
         height: 25vw;
         width: 20vw;

     }


     #card h4{
        font-size:2vw ;
     }
     #card h1{
        font-size: 1vw;
     }
     #cord p{
        font-size: 1vw;

     }
     #er{
        
     }
     
    
} 

